<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main}">
<head>

</head>
<body>

<th:block layout:fragment="body">
    <h1 class="text-center pt-3 pt-lg-5">Bad Request</h1>
    <div class="text-center">
        <br><br>
        <p class="fs-1 ">400</p>
        <p class="fs-2">
           Bad Request
        </p>

    </div>
</th:block>
</body>
</html>