<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main}">
<head>

</head>
<body>

<th:block layout:fragment="body">

    <div class="text-center fw-bold">
        <br><br>

        <p>
            You do not have permissions to access this page.

        </p>
        <p>
            Please Contact your Site Administrator(s) to request access.

        </p>
        <div class="mt-3 mb-5">
            <a th:href="@{/home}" class="" href="" title="Back to home">
                Back to home
            </a>
        </div>

    </div>
</th:block>
</body>
</html>